<!--
<defs>
  <marker id="arrowhead" fill="#fff" markerWidth="10" markerHeight="10" refX="8.7" refY="3" orient="auto" markerUnits="strokeWidth">
    <path d="M0,0 L0,6 L9,3 z" />
  </marker>
</defs>
-->

<svelte:options namespace="svg" />


<Line origin={newOrigin} target={newTarget} {...otherProps} marker-end="url(#arrowhead)" />

<script>
  import { getContext, onMount } from 'svelte';

  import Line from './line.html'

  import {add, mul, sub} from './util/vectorMath.js'

  const addDef = getContext("addDef")

  let origin, target, trimStart, trimEnd, otherProps, newOrigin, newTarget

  $: {
    ({origin, target, trimStart, trimEnd, ...otherProps} = $$props)

    if (trimStart) {
      newOrigin = add(origin, mul(sub(target, origin), trimStart))
    }
    else {
      newOrigin = origin
    }

    if (trimEnd) {
      newTarget = add(target, mul(sub(origin, target), trimEnd))
    } else {
      newTarget = target
    }
  }



  onMount(() => {
    addDef('arrowhead',
      (defs) => {
        defs.append('marker')
            .attr('id', 'arrowhead')
            .attr('fill', '#fff')
            .attr('markerWidth', 10)
            .attr('markerHeight', 10)
            .attr('refX', 8.7)
            .attr('refY', 3)
            .attr('orient', 'auto')
            .attr('markerUnits', "strokeWidth")
            .append('path')
            .attr('d', "M0,0 L0,6 L9,3 z")
      }
    )
  })
</script>
