<script>
  import {Chart, Axis, Handle} from './elements'
  import ContourPlot from './contourPlot.html'

  import * as d3 from 'd3';

  import { Random2DLinearRegressionLossSpace } from './util/LossSpace.js'

  let lspace = new Random2DLinearRegressionLossSpace();

  export let loss = lspace.loss

  export let handlePosition

  $: {
    console.log('handle', handlePosition)
  }

</script>


<div class="chart-container">
  <Chart width=400 height=400>
    <Axis>
      <ContourPlot lossFunc={loss} />
      <Handle bind:position={handlePosition} />
    </Axis>
  </Chart>
</div>

<style>
  .chart-container {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
</style>
