<script>
    import { Chart, Axis, Handle } from './elements'
    import TensorflowLinePlot from './tensorflowLinePlot.html'
    import TensorflowFinetunePlot from './tensorflowFinetunePlot.html'
    import { onMount, getContext } from 'svelte';
    import * as d3 from 'd3';
    import * as tf from '@tensorflow/tfjs'

    const load = async (modelName) => {
        return await tf.loadLayersModel('http://localhost:8080' + modelName + '/model.json');
    }

    export let modelName = '/models/basic'

    let model = load(modelName)

    $: {
        console.log('hello')
    }

    let xDomain = [-5, 5]
    let yDomain = [-5.5, 5.5]

    let chartElement
    let margin

    let amplitude = 200
    let phase = 900
    let gradientSteps = 1

    $: amplitudeValue = amplitude / 100
    $: phaseValue = Math.PI * (phase / 10) / 180.0

    $: amplitudeSliderValue = amplitudeValue.toFixed(2)
    $: phaseSliderValue = phaseValue.toFixed(2)

    let sineModel = (x) => {
        return tf.scalar(amplitudeValue).mul(tf.sin(x.sub(tf.scalar(phaseValue))))
    }

    let updateSine

    let updateSine2 = (elem, userSamples) => {
        updateSine((x) => tf.scalar(amplitudeValue).mul(tf.sin(x.sub(tf.scalar(phaseValue)))), userSamples)
    }

    let userSamples

    const randomUserSample = () => {
        let xs = tf.randomUniform([5], -5, 5)
        let ys = sineModel(xs)

        xs = Array.from(xs.bufferSync().values)
        ys = Array.from(ys.bufferSync().values)

        userSamples = xs.map((x, i) => {
            return { x: x, y: ys[i] }
        })

        updateSine2(undefined, userSamples)
    }

    let updateModel

    const finetune = async () => {
        let f = await load(modelName)
        let xs = tf.tensor2d(userSamples.map(sample => [sample.x]))
        let ys = tf.tensor2d(userSamples.map(sample => [sample.y]))

        const loss = (pred, label) => pred.sub(label).square().mean();
        const learningRate = 0.01;
        const optimizer = tf.train.sgd(learningRate);

        for (let i = 0; i < gradientSteps; i++) {
            optimizer.minimize(() => loss(f.apply(xs), ys))
        }

        updateModel(f)
    }


</script>


<div class="chart-container">
    <div>
        <label for="amplitudeSlider" class="slider-label">Amplitude \( A \in [0.1, 5] \)</label>
        <input name="amplitudeSlider" class="slider" type="range" min="10" max="500" bind:value={amplitude}
            on:input={updateSine2} />
        <output class="slider-label" id="amplOut" style="margin-right: 30px">{amplitudeSliderValue}</output>
    </div>

    <label for="phaseSlider" class="slider-label">Phase \( \varphi \in [0, \pi] \)</label>
    <input name="phaseSlider" class="slider" type="range" min="0" max="1800" bind:value={phase}
        on:input={updateSine2} />
    <output class="slider-label" id="phaseOut">{phaseSliderValue}</output>

    <div>
        <label for="gradientStepsSlider" class="slider-label">Gradient steps</label>
        <input name="gradientStepsSlider" class="slider" type="range" min="1" max="10" bind:value={gradientSteps}/>
        <output class="slider-label" style="margin-right: 30px">{gradientSteps}</output>
    </div>
    <Chart width=800 height=600 bind:chartElement={chartElement}>
        <Axis xDomain={xDomain} yDomain={yDomain} bind:margin={margin}>
            <TensorflowLinePlot bind:userSamples={userSamples} bind:updateSine={updateSine} margin={margin}
                chartElement={chartElement} sineModel={sineModel} lineModel={model} start={xDomain[0]}
                stop={xDomain[1]} />

            <TensorflowFinetunePlot bind:updateModel={updateModel} lineModel={model} start={xDomain[0]}
                stop={xDomain[1]} />
        </Axis>
    </Chart>
    <button on:click={randomUserSample}>🎲</button>
    <button on:click={finetune}>Fit Model</button>
</div>

<style>
    .chart-container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .slider-label {
        font-size: 12px;
        color: gray;
        vertical-align: middle;
    }

    .slider {
        vertical-align: middle;
    }
</style>