<script>
    import { Chart, Axis, Handle } from './elements'
    import TensorflowLinePlot from './tensorflowLinePlot.html'
    import { onMount, getContext } from 'svelte';
    import * as d3 from 'd3';
    import * as tf from '@tensorflow/tfjs'

    const load = async (modelName) => {
        return await tf.loadLayersModel('http://localhost:8080' + modelName + '/model.json');
    }

    export let modelName = '/models/basic'
    export let handlePosition

    //load(modelName)
    let model = load(modelName)

    $: {
        console.log('handle', handlePosition)
    }

    let xDomain = [-2, 2]
    let yDomain = [-2, 2]

    let chartElement
    let margin

</script>


<div class="chart-container">
    <Chart width=800 height=600 bind:chartElement={chartElement}>
        <Axis xDomain={xDomain} yDomain={yDomain} bind:margin={margin}>
            <TensorflowLinePlot margin={margin} chartElement={chartElement} lineModel={model} start={xDomain[0]} stop={xDomain[1]} />
            <Handle bind:mouseoverPosition={handlePosition} />
        </Axis>
    </Chart>
</div>

<style>
    .chart-container {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
</style>