<script>
  import { onMount, getContext } from 'svelte';
  import * as d3 from 'd3';


  export let lines = true
  export let visible = true

  export let circleRadius = 3, circleRadius_hover = 5
  export let lineOpacity = .1, lineOpacity_hover = .5




  let handleElement, lineHor, lineVer, circle

  let [xScale, yScale] = getContext("scales");

  export let position = [0.5, 0.5]

  let x, y, xmin, xmax, ymin, ymax;



  $: {
    [x, y] = position
  }

  $: {
    [xmin, xmax] = xScale.domain();
    [ymin, ymax] = yScale.domain();
  }

  let axisGroup = getContext("axisGroup")

  onMount(() => {
    var handle = d3.select(handleElement);

    handle.call(d3.drag().container(axisGroup()).on("drag", function(event) {
      position = [
        Math.max(Math.min(xmax, xScale.invert(event.x)), xmin),
        Math.max(Math.min(ymax, yScale.invert(event.y)), ymin)
      ]
    }));

    if (visible) {
      handle.on("mouseover", function (d) {
        d3.select(circle).transition().duration(100).attr("r", circleRadius_hover);

        if (lines) {
          d3.select(lineHor).transition().duration(100).style("opacity", lineOpacity_hover);
          d3.select(lineVer).transition().duration(100).style("opacity", lineOpacity_hover);
        }
      })
      handle.on("mouseout", function (d) {
        d3.select(circle).transition().duration(100).attr("r", circleRadius);

        if (lines) {
          d3.select(lineHor).transition().duration(100).style("opacity", lineOpacity);
          d3.select(lineVer).transition().duration(100).style("opacity", lineOpacity);
        }
      })
    }


  })
</script>

<g>
  {#if visible}
    {#if lines}
      <line stroke="white" stroke-width="1" opacity={lineOpacity} bind:this={lineHor}
            x1={xScale(xmin)} x2={xScale(xmax)}
            y1={yScale(y)} y2={yScale(y)} />

      <line stroke="white" stroke-width="1" opacity={lineOpacity} bind:this={lineVer}
            x1={xScale(x)} x2={xScale(x)}
            y1={yScale(ymin)} y2={yScale(ymax)} />
    {/if}

    <circle stroke="none" fill="white" r="{circleRadius}" bind:this={circle}
            cx={xScale(x)} cy={yScale(y)} />
  {/if}

  <circle class="handleInvisible" cx={xScale(x)} cy={yScale(y)} r="20" bind:this={handleElement} />
</g>


<style>
  .handleInvisible {
    opacity: 0;
    color: rgba(255, 255, 255, 0);
    cursor: grab;
  }
</style>
