<div class="container">
      <div class="col" id="plot-1"></div>
      <div class="col" id="plot-2"></div>
      <div class="col" id="plot-3"></div>
      <div class="col" id="plot-4"></div>
</div>

<div id="vector-theta">\( \theta \)</div>

<div id="vector-phi1">\( \phi_1 \)</div>
<div id="vector-phi2">\( \phi_2 \)</div>
<div id="vector-phi3">\( \phi_3 \)</div>
<div id="vector-phi4">\( \phi_3 \)</div>

<style>
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>


<script>
  import * as d3 from 'd3';
  import { onMount } from 'svelte';
  import * as tf from '@tensorflow/tfjs'

  import {loss_1, loss_2, loss_3, loss_4} from './util/loss';

  const DEFAULT_SIZE = [200, 200];
  const DEFAULT_MARGIN = {left:30, right: 10, top: 10, bottom: 20}


  class Plot {
    constructor(id, size=DEFAULT_SIZE, margin=DEFAULT_MARGIN) {
        var [width, height] = size;

        var chart_width = width - margin.left - margin.right;
        var chart_height = height - margin.top - margin.bottom;

        this.id = id;

        this.svg = d3.select(id)
          .append("svg")
          .attr("preserveAspectRatio", "xMinYMin meet")
          .attr("viewBox", `0 0 ${width} ${height}`)


        this.chart = this.svg.append("g").attr("transform", `translate(${margin.left}, ${margin.top})`)

        this.margin = margin;
        this.xscale = d3.scaleLinear().domain([0, 1]).range([0, chart_width]);
        this.yscale = d3.scaleLinear().domain([0, 1]).range([chart_height, 0]);

        this.svg_size = size;
        this.size = [chart_width, chart_height];
      }

      add_axis() {
        this.chart.append("g")
            .attr("opacity", 0.5)
            .attr("fill", "black")
            .attr("transform", `translate(0, ${this.size[1]})`)
            .call(d3.axisBottom().scale(this.xscale))
            .call(g => g.select(".domain")
              .remove());

        this.chart.append("g")
            .attr("opacity", 0.5)
            .call(d3.axisLeft().scale(this.yscale))
            .call(g => g.select(".domain")
              .remove());
      }

      add_contour(loss_func, logscale=false) {
        const nx = 256, ny = 256;
        const n_thresholds = 20;

        var grid = tf.stack(tf.meshgrid(
          tf.linspace(...this.xscale.domain(), nx),
          tf.linspace(...this.yscale.domain(), ny)
        ), -1);

        var z = loss_func(grid);

        if (logscale) {
          z = tf.log(z)
        }

        z = Array.from(z.bufferSync().values);

        var color_map = d3.interpolateViridis;
        var color_scale = d3.scaleLinear().domain(d3.extent(z)).range([0,1]);


        var contours = d3.contours()
            .size([nx, ny])
            .thresholds(n_thresholds)
            (z);

        var [w, h] = this.size;

        this.chart.append("g")
            .attr("fill", "none")
            .attr("stroke", "#fff")
            .attr("stroke-opacity", 0.3)
          .selectAll("path")
          .data(contours)
          .enter()
          .append("path")
            .attr("fill", d => color_map(color_scale(d.value)))
            .attr("stroke", "#white")
            .attr("transform", `translate(0,${h}), scale(${(w/nx)}, ${(-h/ny)})`)
            .attr("d", d3.geoPath(d3.geoIdentity()));
      }


      add_theta(dispatch) {
        var xscale = this.xscale, yscale = this.yscale;
        var chart = this.chart;

        var theta = [0.1, 0.9];

        var line_default_opacity = 0.1;

        var hor_line = this.chart.append("line")
          .style("stroke", "white")
          .style("stroke-width", 1)
          .style("opacity", line_default_opacity)
          .attr("x1", xscale(0))
          .attr("y1", yscale(theta[1]))
          .attr("x2", xscale(1))
          .attr("y2", yscale(theta[1]));

        var ver_line = this.chart.append("line")
          .style("stroke", "white")
          .style("stroke-width", 1)
          .style("opacity", line_default_opacity)
          .attr("x1", xscale(theta[0]))
          .attr("y1", yscale(0))
          .attr("x2", xscale(theta[0]))
          .attr("y2", yscale(1));

        var theta_circle = this.chart.selectAll("dot").data([theta]).enter().append("circle")
          .attr("cx", d => this.xscale(d[0]))
          .attr("cy", d => this.yscale(d[1]))
          .attr("stroke-width", .5)
          .attr("stroke", "black")
          .attr("fill", "white")
          .attr("r", 2)
          .on("mouseover", function (d) {
            theta_circle.transition().duration(100).attr("r", 4);
            hor_line.transition().duration(100).style("opacity", .7);
            ver_line.transition().duration(100).style("opacity", .7);
          })
          .on("mouseout", function (d) {
            theta_circle.transition().duration(100).attr("r", 2);
            hor_line.transition().duration(100).style("opacity", line_default_opacity);
            ver_line.transition().duration(100).style("opacity", line_default_opacity);
          });


        dispatch.on(`theta_changed.${this.id}`, (x, y) => {
          //theta_circle.transition().duration(200).attr("cx", xscale(x)).attr("cy", yscale(y));
          theta_circle.attr("cx", xscale(x)).attr("cy", yscale(y));
          hor_line.attr("y1", yscale(y)).attr("y2", yscale(y));
          ver_line.attr("x1", xscale(x)).attr("x2", xscale(x));
        })

        theta_circle.call(d3.drag().on("drag", function(event) {
            var [x,y] = d3.pointer(event, chart.node());
            console.log(event);
            console.log(x, y)
            x = xscale.invert(x);
            y = yscale.invert(y);
            x = Math.max(Math.min(1, x), 0);
            y = Math.max(Math.min(1, y), 0);
            dispatch.call("theta_changed", this, x, y);
            console.log(x, y)
        }));
      }
  }

  onMount(() => {
    var dispatch = d3.dispatch("theta_changed");

    var plot_1 = new Plot('#plot-1');
    plot_1.add_contour(loss_1)
    plot_1.add_axis()
    plot_1.add_theta(dispatch);

    var plot_2 = new Plot('#plot-2');
    plot_2.add_contour(loss_2, true)
    plot_2.add_axis()
    plot_2.add_theta(dispatch);

    var plot_3 = new Plot('#plot-3');
    plot_3.add_contour(loss_3, true)
    plot_3.add_axis()
    plot_3.add_theta(dispatch);


    var plot_4 = new Plot('#plot-4');
    plot_4.add_contour(loss_4, true)
    plot_4.add_axis()
    plot_4.add_theta(dispatch);
  });
</script>
