<div class="container">
  {#each plots as plot}
    <div class="col">
      <Chart width=300 height=300>
        <Axis>
          <ContourPlot lossFunc={plot.loss} logScale={plot.logScale} />
          <VariableHandle bind:position={theta} value="\theta" withPoint={false} />
        </Axis>
      </Chart>
    </div>
	{/each}
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>


<script>
  import * as d3 from 'd3';
  import { onMount } from 'svelte';
  import {loss_1, loss_2, loss_3, loss_4} from './util/loss';

  import Chart from './chart.html'
  import ContourPlot from './contourPlot.html'
  import Axis from './axis.html'
  import VariableHandle from './variableHandle.html'

  export let theta = [0.5, 0.5]

  let plots = [
    {loss: loss_1, logScale: false},
    {loss: loss_2, logScale: true},
    {loss: loss_3, logScale: true},
    {loss: loss_4, logScale: true},
  ]
</script>
