<div class="container">
    <div class="col">
      <Chart width=400 height=400>
        <Axis>
          <ContourPlot lossFunc={loss_1} />
          <Handle bind:position={theta} />
        </Axis>
      </Chart>
    </div>
    <div class="col">
      <Chart width=400 height=400>
        <Axis xDomain={[-1, 1]} yDomain={[-1, 1]}>
          <ContourPlot lossFunc={loss_2} logScale=true />
          <Handle bind:position={theta} />
        </Axis>
      </Chart>
    </div>
    <div class="col">
      <Chart width=400 height=400>
        <Axis>
          <ContourPlot lossFunc={loss_3} logScale=true />
          <Handle bind:position={theta} />
        </Axis>
      </Chart>
    </div>
    <div class="col">
      <Chart width=400 height=400>
        <Axis>
          <ContourPlot lossFunc={loss_4} logScale=true />
          <Handle bind:position={theta} />
        </Axis>
      </Chart>
    </div>
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: auto auto;
  }
</style>


<script>
  import * as d3 from 'd3';
  import { onMount } from 'svelte';
  import {loss_1, loss_2, loss_3, loss_4} from './util/loss';

  import Chart from './chart.html'
  import ContourPlot from './contourPlot.html'
  import Axis from './axis.html'
  import Handle from './handle.html'

  export let theta = [0.5, 0.5]
</script>
