<aside class="menu">
  <p class="menu-label">
    Model-Agnostic Meta-Learning
  </p>
  <ul class="menu-list">
    <MenuItem target="./">Introduction</MenuItem>
    <MenuItem target="maml.html">MAML</MenuItem>
  </ul>
  <p class="menu-label">
    Extensions of MAML
  </p>
  <ul class="menu-list">
    <MenuItem target="first-order.html">FOMAML</MenuItem>
    <MenuItem target="reptile.html">REPTILE</MenuItem>
    <MenuItem target="imaml.html">iMAML</MenuItem>
    <MenuItem target="comparison.html">Comparison</MenuItem>
  </ul>
</aside>


<script>
  import MenuItem from './menuItem'
</script>
