<div class="columns">
  <div class="column">
    <div class="columns is-multiline">
      {#each algs as alg, i}
      <div style="opacity: {activeMethod[i] ? 1.0 : 0.3};" class="column is-half">
        <div style="text-align: center;">{algNames[i]}</div>
        <Chart width=400 height=400>
          <Axis>
            <ContourPlot lossFunc={tasks[0]} logScale={false} />

            {#if activeMethod[i]}
            <Arrow origin={theta} target={alg} trimStart=0 trimEnd=0.01 stroke="#fff" fill="#fff" stroke-width="2" />

            <VariableHandleWithReference bind:position={theta} value="\theta" offset={[0, -15]} referencePoint={alg} />

            <VariableHandleWithReference bind:position={alg} value={`U(\\theta)`} offset={[0, -15]}
              referencePoint={theta} draggingDisabled={true} />
            {/if}
          </Axis>
        </Chart>

      </div>
      {/each}
    </div>
  </div>
  <div class="column is-one-third">
    <CollapsibleCard title="MAML" bind:group={shownSettings}>
      <Slider min="0" max="30" label="Outer Learning Rate" bind:value="{mamlOuter}" output={mamlOuter / outerSteps} />
      <Slider min="0" max="20" label="Inner Learning Rate" bind:value="{mamlInner}" output={mamlInner / innerSteps} />
      <Slider min="1" max="10" label="Inner Steps" bind:value="{mamlSteps}" output="{mamlSteps}" />
      <input type="checkbox" name="mamlactive" bind:checked="{mamlActive}">
      <label class="checkboxfield" for="mamlactive">Active</label>
    </CollapsibleCard>
    <CollapsibleCard title="FOMAML" bind:group={shownSettings}>
      <Slider min="0" max="10" label="Outer Learning Rate" bind:value="{fomamlOuter}" output={fomamlOuter /
        outerSteps} />
      <Slider min="0" max="20" label="Inner Learning Rate" bind:value="{fomamlInner}" output={fomamlInner /
        innerSteps} />
      <Slider min="1" max="10" label="Inner Steps" bind:value="{fomamlSteps}" output="{fomamlSteps}" />
      <input type="checkbox" name="fomamlactive" bind:checked="{fomamlActive}">
      <label class="checkboxfield" for="fomamlactive">Active</label>
    </CollapsibleCard>
    <CollapsibleCard title="REPTILE" bind:group={shownSettings}>
      <Slider min="0" max="10" label="Interpolation Rate" bind:value="{reptileOuter}" output={reptileOuter /
        outerSteps} />
      <Slider min="0" max="20" label="Inner Learning Rate" bind:value="{reptileInner}" output={reptileInner /
        innerSteps} />
      <Slider min="1" max="10" label="Inner Steps" bind:value="{reptileSteps}" output="{reptileSteps}" />
      <input type="checkbox" name="reptileactive" bind:checked="{reptileActive}">
      <label class="checkboxfield" for="reptileactive">Active</label>
    </CollapsibleCard>
    <CollapsibleCard title="iMAML" bind:group={shownSettings}>
      <Slider min="0" max="10" label="Outer Learning Rate" bind:value="{imamlOuter}" output={imamlOuter / outerSteps} />
      <Slider min="0" max="20" label="Inner Learning Rate" bind:value="{imamlInner}" output={imamlInner / innerSteps} />
      <Slider min="1" max="10" label="Inner Steps" bind:value="{imamlSteps}" output="{imamlSteps}" />
      <Slider min="0" max="1000" label="Regularization Coeffiecient" bind:value={imamlRegularization} output={imamlRegularization / innerSteps}/>
      <input type="checkbox" name="imamlactive" bind:checked="{imamlActive}">
      <label class="checkboxfield" for="imamlactive">Active</label>
    </CollapsibleCard>
  </div>
</div>

<style>
  .checkboxfield {
    font-size: .7em;
  }
</style>


<script>
  import ContourPlot from './contourPlot.html'
  import { Slider, Chart, CollapsibleCard, Axis, Arrow, VariableHandleWithReference } from './elements'
  import * as d3 from 'd3';
  import { onMount, getContext } from 'svelte';
  import * as tf from '@tensorflow/tfjs'
  import { Random2DLinearRegressionLossSpace } from './util/LossSpace'

  import { rosenbrock as loss_1 } from './util/loss'
  import { beale as loss_2 } from './util/loss'

  import { Reptile, FirstOrderMAML, VanillaGradientDescent, MAML, IMAML } from './util/metal-lib'

  import throttle from 'lodash/throttle'

  let theta = [0.5, .9]
  let means = [[0, 0], [1, 0]]
  let lossSpaces = means.map(mean => new Random2DLinearRegressionLossSpace(mean))

  let selected_task = 0

  let lr = 0.04
  let beta = 0.03
  let eta = 0.3

  let shownSettings = null

  let activeMethod = [true, false, false, false]

  let outerSteps = 100,
    innerSteps = 100

  let reptileOuter = eta * outerSteps,
    reptileInner = lr * innerSteps,
    reptileSteps = 5,
    fomamlOuter = beta * outerSteps,
    fomamlInner = lr * innerSteps,
    fomamlSteps = 1,
    mamlOuter = beta * outerSteps,
    mamlInner = lr * innerSteps,
    mamlSteps = 1,
    imamlOuter = beta * outerSteps,
    imamlInner = lr * innerSteps,
    imamlSteps = 5,
    imamlRegularization = 2,
    mamlActive = true,
    fomamlActive,
    reptileActive,
    imamlActive

  let maml, fomaml, reptile, imaml




  let vgd = new VanillaGradientDescent(lr, 1)

  let algs = [theta, theta, theta, theta]
  let algNames = ['MAML', 'First-Order MAML', 'Reptile', 'iMAML']

  let lossGradients = lossSpaces.map(space => space.lossGrad)

  let metaLoss = x => tf.stack(lossGradients.map((lossGradient, i) => {
    let optimalParam = vgd.update(x, lossGradient)
    return lossSpaces[i].loss(optimalParam.clone())
  })).sum(0)
  let tasks = [metaLoss, ...lossSpaces.map(space => space.loss)]

  function updateDirections(t, _reptileOuter, _reptileInner, _reptileSteps, _fomamlOuter, _fomamlInner, _fomamlSteps,
    _mamlOuter, _mamlInner, _mamlSteps, _imamlOuter, _imamlInner, _imamlSteps, _imamlRegularization, _mamlActive, _fomamlActive, _reptileActive, _imamlActive) {


    if (_reptileActive) {
      reptile = new Reptile(_reptileOuter, _reptileInner, _reptileSteps)
    }
    if (_fomamlActive) {
      fomaml = new FirstOrderMAML(_fomamlOuter, _fomamlInner, _fomamlSteps)
    }
    if (_mamlActive) {
      maml = new MAML(_mamlOuter, _mamlInner, _mamlSteps)
    }
    if (_imamlActive) {
      imaml = new IMAML(_imamlOuter, _imamlInner, _imamlSteps, _imamlRegularization)
    }

    setTimeout(() => {
      ([maml, fomaml, reptile, imaml]).filter((m, i) => activeMethod[i]).forEach((method, i) => {
        method.promiseUpdate([t], lossGradients).then(values => {
          algs[i] = values[0]
        })
      })
    }, 0)
  }

  let updateDirectionsThrottle = throttle(updateDirections, 600) // maybe? 600 * activeMethod.map(c => c ? 1 : 0).reduce((a, b) => a + b) / activeMethod.length

  $: {

    activeMethod = [mamlActive, fomamlActive, reptileActive, imamlActive]

    updateDirectionsThrottle(theta, reptileOuter / outerSteps, reptileInner / outerSteps, reptileSteps, fomamlOuter / outerSteps, fomamlInner / innerSteps, fomamlSteps,
      mamlOuter / outerSteps, mamlInner / innerSteps, mamlSteps, imamlOuter / outerSteps, imamlInner / innerSteps, imamlSteps, imamlRegularization / innerSteps, ...activeMethod)
  }

</script>
