<script>
  import Handle from './handle.html'
  import Latex from './latex.html'

  export let value = ""
  export let position
  export let rHovered = 6
  export let r = 3

  export let withPoint = true

  export let offset = [-20, -10]

  let otherProps

  $: {
    ({ ...otherProps } = $$props)

    delete otherProps["value"]
    delete otherProps["hovered"]
    delete otherProps["position"]
    delete otherProps["withPoint"]
    delete otherProps["offset"]
  }

  let normedVec = [0, 0]

</script>

<Handle bind:position={position} let:isHovered let:draggingDisabled {...otherProps}>
  {#if withPoint}
    <Latex {value} style="color: white; font-size: {isHovered ? '1.2em' : '1em'}" x={offset[0]} y={offset[1]}/>
    <circle stroke="none" fill="white" class="circleMarker" r="{(isHovered && !draggingDisabled) ? rHovered : r}" cx=0 cy=0  />
  {:else}
    <Latex {value} style="color: white; font-size: {isHovered ? '1.2em' : '1em'}" />
  {/if}
</Handle>
