figure {
  font: 17px/1.55em -apple-system, BlinkMacSystemFont, "Roboto", sans-serif
}

figcaption {
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  line-height: 1.5em;
}

#overview img {
    margin: 0;
    max-width: 260px;
}
