@import "~bulma/bulma";
@import "~bulma/sass/utilities/mixins";


/* Bulma loader for components.
Source: https://github.com/jgthms/bulma/issues/847#issuecomment-314110630
*/

.element {
    &.is-loading {
        position: relative;
        pointer-events: none;
        opacity: 0.5;
        &:after {
            @include loader;
            position: absolute;
            top: calc(50% - 2.5em);
            left: calc(50% - 2.5em);
            width: 5em;
            height: 5em;
            border-width: 0.25em;
        }
    }
}


/* Reset bulma's pre formatting */

dt-article pre {
  padding: 0;
}


dt-article figcaption p {
  margin-bottom: 8px;
}
